.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.heading {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 20px;
}
span {
    position: relative;
    left: 10px;
    color: #FEB700;
}
.aboutImage {
    position: relative;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}
.aboutImage img {
    width: 85%;
    border-radius: 50%;
    border: 6px solid #11BBE9;
}
.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 2px solid #16171B;
    border-bottom: 2px solid #16171B;
    border-left: 5px solid #11BBE9;
    border-right: 5px solid #11BBE9;
}
.about_Content {
    text-align: center;
    position: relative;
    bottom: 25px;
}
.about_Content > h3 {
    font-size: 30px;
    color: #EFB700;
}
.about_Content p {
    display: inline-block;
    margin: 2rem 0 3rem;
}
