#contact {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: auto;
}

#contactName {
    font-size: 65px;
    margin-bottom: 60px;
}

#contact-wrap {
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

#contact-form {
    display: block;
    position: relative;
    text-align: left;
    left: 150px;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    /*max-width: 490px; !* Maintain a maximum width for larger screens *!*/
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #EFB700;
    color: black;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: #EFB700;
}

#contactBtn {
    position: relative;
    display: inline-block;
    padding: 12px 14px;
    background-color: #11BBE9;
    color: #16171B;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    bottom: 20px;
}

#contactBtn:hover {
    background-color: #EFB700;
}

@media screen and (max-width: 320px) {
    #contact-form {
        left: 10px;
    }
    input, textarea{
    width: 280px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    #contact-form {
        left: 20px;
    }
    input, textarea{
        width: 300px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    #contact-form {
        left: 30px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    #contact-form {
        left: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #contact-form {
        left: 25px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #contact-form {
        left: 150px;
    }
}
