#galleryName{
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#galleryContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 50px;
    align-items: center;
    justify-content: center;

}
.galleryImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url("../assets/img/myimg1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 200px;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url("../assets/img/myimg7.jpg");
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url("../assets/img/myimg3.JPG");
    background-size: cover;
    background-position: center;

}
.img-box:nth-child(4){
    background: url("../assets/img/myimg4.JPG");
    background-size: cover;
    background-position: center;

}

.img-box:nth-child(5){
    background: url("../assets/img/myimg5.jpg");
    background-size: cover;
    background-position: center;

}

.img-box:nth-child(6){
    background: url("../assets/img/myimg6.JPG");
    background-size: cover;
    background-position: center;

}

.img-box:nth-child(7){
    background: url("../assets/img/myimg8.jpg");
    background-size: cover;
    background-position: center;

}

.img-box:nth-child(8){
    background: url("../assets/img/myimg2.JPG");
    background-size: cover;
    background-position: center;

}
.img-box h3{
    color: black;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 300px;
    cursor: pointer;
}

.img-box h3 :hover{
    opacity: 1;
    bottom: 20px;
}

