.home {
    display: flex;
    align-items: center;
    padding: 9%;
}
.home-content {
    max-width: 40rem;
}
.home-content h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}
.home-content .text_animation {
    position: relative;
    font-weight: 1000;
    color: transparent;
    font-size: 35px;
    -webkit-text-stroke: 1px #FEB700;
    margin: 2rem;
}
.home-content p {
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 1.6rem;
    margin: 1rem;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 6rem;
}
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 46px;
    border: 2px solid #11BBE9;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #11BBE9;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}
.btn-box .btn::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11BBE9;
    z-index: -1;
    transition: 0.3s;
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #11BBE9;
}
.btn-box .btn:nth-child(2)::before {
    background: #11BBE9;
}
.btn-box .btn:hover::before {
    width: 100%;
}
.image {
    position: absolute;
    width: 900px;
    top: 10px;
    left: 550px;
    display: flex;
    justify-content: space-between;
}
.socialImages {
    position: absolute;
    right: 70px;
    left: 100px;
    top: 600px;
    margin: 0;
}

/*.image img {
    width: 100%; !* Make the image take up 100% of its container's width *!
    height: auto; !* Maintain the aspect ratio *!
}*/

@media screen and (min-width: 321px) and (max-width: 375px){
    .image {
        flex-direction: row; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items on smaller screens */
        left: 200px;
        width: 300px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .image {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: baseline; /* Center items on smaller screens */
        right: 200px;
        width: 300px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    /* Adjust styles for screens between 426px and 768px if needed */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for screens between 769px and 1024px if needed */
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Adjust styles for screens between 1025px and 1440px if needed */
}