@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #16171B;
    --text-color: #ffffff;
    --second-text-color: #11BBE9;
    --third-text-color: #FEB700;
}


html {
    font-size: 100%;
}
body {
    background-color: #16171B;
    color: #ffffff;
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 1.5px 9%;
    background: #16171B;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2rem;
    color: #11BBE9;
    font-weight: 600;
}

.nav-bar{
    display: flex;
}
.nav-bar a{
    color: #11BBE9;
    font-weight: 500;
    padding: 10px 20px;

}

.nav-bar a:hover{
    color: #ffffff;
}
#menu{
    font-size: 1.8rem;
    z-index: 999;
    cursor: pointer;
    margin-left: 25px;
    background: #11BBE9;
    border-radius: 3px;
    display: none;

}