@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif; /* 'poppins' should be enclosed in quotes */
}

:root {
    --background-color: #16171B;
    --text-color: #ffffff;
    --second-text-color: #11BBE9;
    --third-text-color: #FEB700;
}

html {
    font-size: 100%;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 1.5px 9%;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: var(--second-text-color);
    font-weight: 600;
}

#navBar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 1rem;
    transition: .3s;
    text-decoration: none; /* You need to specify 'text-decoration' property value */
}

#navBar a:hover,
#navBar a.active {
    color: var(--second-text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 9%;
}

.home-content {
    max-width: 40rem;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}

.home-content .text_animation {
    position: relative;
    font-weight: 1000;
    color: transparent;
    font-size: 35px;
    -webkit-text-stroke: 1px var(--third-text-color);
    margin: 2rem;
}

.home-content p {
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 1.6rem;
    margin: 1rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 6rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 46px;
    border: 2px solid var(--second-text-color);
    border-radius: 8px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #11bbe9; /* Should be 'var(--second-text-color)' */
    z-index: 1;
    overflow: hidden;
    transition: .4s;
}

.btn-box .btn::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-text-color);
    z-index: -1;
    transition: .3s;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--second-text-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--second-text-color);
}

.btn-box .btn:hover::before {
    width: 100%;
}

.image {
    position: absolute;
    width: 900px;
    top: 10px;
    left: 550px;
    display: flex;
    justify-content: space-between;
}

.socialImages {
    position: absolute;
    right: 70px;
    left: 100px;
    top: 600px;
    margin: 0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.heading {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
}

span {
    position: relative;
    left: 10px;
    color: #FEB700;
}

.aboutImage {
    position: relative;
    width: 17rem;
    height: 17rem;
    border-radius: 50%; /* Change '55%' to '50%' */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
}

.aboutImage img {
    width: 85%;
    border-radius: 50%;
    border: 6px solid var(--second-text-color);
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 2px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
    border-left: 5px solid var(--second-text-color);
    border-right: 5px solid var(--second-text-color);
}

.about_Content {
    text-align: center;
    position: relative;
    bottom: 50px;
}

.about_Content > h3 {
    font-size: 30px;
    color: var(--third-text-color);
}

.about_Content p {
    display: inline-block;
    margin: 2rem 0 3rem;
}

#eduName{
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 300px;
}
#box{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eduBox{
    position: relative;
    width: 230px;
    height: 350px;
    border: 5px solid #FEB700 ;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    left: 20px;
    padding: 30px;
    bottom: 350px;
}
#skillName{
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 500px;
}
#icon{
    position: relative;
    align-content: space-between;
    justify-content: center;
    bottom: 550px;
}
#icon>img{
    position: relative;
    margin: 40px;
    padding: 5px;
}


#expName{
    position: relative;
    font-size: 65px;
    margin-bottom:2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 200px;*/
}

#projectName{
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#projectBox{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proBox{
    position: relative;
    width: 500px;
    height: 200px;
    background: #480101;
    margin: 10px;
    left: 20px;
    padding: 30px;
    
}