@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: #16171B;
    --text-color: #ffffff;
    --second-text-color: #11BBE9;
    --third-text-color: #FEB700;
}


html {
    font-size: 100%;
}

body {
   /* background: var(--background-color);
    color: var(--text-color);*/
    background-color: #16171B;
    color: #ffffff;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 1.5px 9%;
    background: #16171B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #11BBE9;
    font-weight: 600;
}

#navBar a {
    font-size: 1.7rem;
    color:#ffffff;
    font-weight: 500;
    margin-left: 1rem;
    transition: 0.3s;
    text-decoration: none;
}

#navBar a:hover,
#navBar a.active {
    color: #11BBE9;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 9%;
}

.home-content {
    max-width: 40rem;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}

.home-content .text_animation {
    position: relative;
    font-weight: 1000;
    color: transparent;
    font-size: 35px;
    -webkit-text-stroke: 1px #FEB700;
    margin: 2rem;
}

.home-content p {
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 1.6rem;
    margin: 1rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 6rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 46px;
    border: 2px solid #11BBE9;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #11BBE9;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}

.btn-box .btn::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11BBE9;
    z-index: -1;
    transition: 0.3s;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #11BBE9;
}

.btn-box .btn:nth-child(2)::before {
    background: #11BBE9;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.image {
    position: absolute;
    width: 900px;
    top: 10px;
    left: 550px;
    display: flex;
    justify-content: space-between;
}

.socialImages {
    position: absolute;
    right: 70px;
    left: 100px;
    top: 600px;
    margin: 0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.heading {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
}

span {
    position: relative;
    left: 10px;
    color: #FEB700;
}

.aboutImage {
    position: relative;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
}

.aboutImage img {
    width: 85%;
    border-radius: 50%;
    border: 6px solid #11BBE9;
}

.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 2px solid #16171B;
    border-bottom: 2px solid #16171B;
    border-left: 5px solid #11BBE9;
    border-right: 5px solid #11BBE9;
}

.about_Content {
    text-align: center;
    position: relative;
    bottom: 50px;
}

.about_Content > h3 {
    font-size: 30px;
    color: #EFB700;
}

.about_Content p {
    display: inline-block;
    margin: 2rem 0 3rem;
}

#eduName {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 300px;
}

#box {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eduBox {
    position: relative;
    width: 230px;
    height: 350px;
    border: 5px solid #EFB700;
    border-radius: 20px;
    margin: 10px;
    left: 20px;
    padding: 30px;
    bottom: 350px;
}

#skillName {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 500px;
}

#icon {
    position: relative;
    align-content: space-between;
    justify-content: center;
    bottom: 550px;
}

#icon > img {
    position: relative;
    margin: 40px;
    padding: 5px;
}

#expName {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#projectName {
    position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px #001A;
    margin-bottom: 1.6%;
    background:#ffffff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    & a {
        color: inherit;
        &:hover {
            color: seashell;
        }
    }
    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }
    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }
    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }
    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(61, 61, 61, 0.6);
        color: #4b4a4a;
        padding: 10px;
        width: 100%;
        font-size: .9rem;
        & a {
            text-decoration: dotted underline
        }
        & ul & li {
            display: inline-block;
        }
        .author:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f007";
        }

        .date:before {
            font-family: FontAwesome;
            margin-right: 10px;
            content: "\f133";
        }

        .tags {
            & ul:before {
                font-family: FontAwesome;
                content: "\f02b";
                margin-right: 10px;
            }
            & li {
                margin-right: 2px;
                &:first-child {
                    margin-left: -4px;
                }
            }
        }
    }
    .description {
        padding: 1rem;
        background: #ffffff;
        position: relative;
        z-index: 1;
        & h1,
        & h2 {
            font-family: Poppins, sans-serif;
        }
        & h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
            color: black;
        }
        & h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: #333333;
            margin-top: 5px;
        }
        & p{
            color: black;
        }
        .read-more {
            text-align: right;
            & a {
                color: #c4682b;
                display: inline-block;
                position: relative;
                &:after {
                    content: "\f061";
                    font-family: FontAwesome;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }
    & p {
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
            margin-top: 1.25rem;
            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: #00d71c;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }
    &:hover {
        .details {
            left: 0%;
        }
    }


    @media (min-width: 640px) {
        flex-direction: row;
        max-width: 700px;
        .meta {
            flex-basis: 40%;
            height: auto;
        }
        .description {
            flex-basis: 60%;
            &:before {
                transform: skewX(-3deg);
                content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        &.alt {
            flex-direction: row-reverse;
            .description {
                &:before {
                    left: inherit;
                    right: -10px;
                    transform: skew(3deg)
                }
            }
            .details {
                padding-left: 25px;
            }
        }
    }
}


#gallery{
   position: relative;
    font-size: 65px;
    margin-bottom: 2rem;
    text-align: center;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    background:#1F2024;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blob-c {
    min-height: 100vh;
    overflow: hidden;
    position:absolute;
    width: 100%;
    filter: blur(40px);
    /*   background: rgba(255,255,255,0.1) */
}
.blob {
    background:#26C3F9;
    height: 60px;
    width: 80px;
    border-radius: 40% 50% 30% 40%;
    animation: transform 18s ease-in-out infinite both alternate, movement_one 12s ease-in-out infinite both;
    opacity:.7;
    position: absolute;
    left: 75%;
    top: 40%;
}
.blob.one{
    background:#0085FF;
    height: 150px;
    width: 200px;
    left: 10px;
    top: 10px;
    transform: rotate(-180deg);
    animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}
.blob.two{
    background:#4EAEFF;
    height: 150px;
    width: 150px;
    left: 600px;
    top: 250px;
    transform: rotate(-180deg);
    animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
}
.blob.three{
    background:#0EAFFF;
    height: 150px;
    width: 150px;
    left: 800px;
    top: 30px;
    transform: rotate(-180deg);
    animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
}
.blob.four{
    background:#4EAEFF;
    height: 100px;
    width: 100px;
    left: 500px;
    top: 60px;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
}
.blob.five{
    background:#0085FF;
    height: 100px;
    width: 80px;
    left: 480px;
    top: 250px;
    transform: rotate(-180deg);
    animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}
.blob.six{
    background:#0EAFFF;
    height: 70px;
    width: 100px;
    left: 160px;
    top: 400px;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, movement_two 7s ease-in-out infinite both;
}
.blob.seven{
    background: #0085FF;
    height: 70px;
    width: 100px;
    left: 400px;
    top: 400px;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
}
@keyframes transform
{
    0%,
    100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; }
    20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; }
    40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; }
    60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; }
    80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; }
}
@keyframes movement_one
{
    0%,
    100% { transform: none; }
    50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}
@keyframes movement_two
{
    0%,
    500% { transform: none; }
    50% { transform: translate(50%, 100%) rotate(-200deg) scale(1.3);}
}
/* CARD */
#galleryCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px 40px 40px 80px;
}
.card {
    width: min(100%, 500px);
    background: rgba(255, 255, 255);
    border-radius: 16px;
    font-family: "Poppins", sans-serif;
    z-index: 5;
}
.card > img {
    display: block;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 16px 16px 0 0;
    filter: contrast(70%);
    transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card > img:hover {
    filter: contrast(100%);
}
.card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px;
}
.card-content > p {
    margin-bottom: 10px;
}
.card-content > p:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1e40af;
}
.card-content > p:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 400;
    color: #6b7280;
}
@media (max-width: 900px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}